<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>125354511562-fhtl578p781d8e64hsjqooq23bin6kgj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.125354511562-fhtl578p781d8e64hsjqooq23bin6kgj</string>
	<key>API_KEY</key>
	<string>AIzaSyCmyvuvXCVI4CcmAKiqvGHLYFtmX_D9sRY</string>
	<key>GCM_SENDER_ID</key>
	<string>125354511562</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>minder-16bc5</string>
	<key>STORAGE_BUCKET</key>
	<string>minder-16bc5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:125354511562:ios:cd64801350a020ae467833</string>
</dict>
</plist>